body{
    background-image:url("canada.jpeg");
    text-align:center;
}
h1{
    background-image:url("h1.jpeg");
}
label{
    background-image:url("label.jpeg");
    margin-bottom:15px;
    font-size:25px;
    padding:6px;
}
input{
    margin-bottom:15px;
    font-size:25px;
    padding:6px;
}
#sub{
    margin:10px;
    background-color:hotpink;
    padding:10px;
    font-size:25px;
}
#sort{
    margin:10px;
    background-color:hotpink;
    padding:10px;
    font-size:25px;
    display:none;
}
